@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

body {
    font-family: "Lato", sans-serif;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 0px;
    background-color: #288be5;
    color: white;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.logo {
    text-align: center;
    user-select: none;
    font-family: "Allerta Stencil", sans-serif;
    font-size: 20px;
}

.nav-btn {
    padding: 10px;
    background-color: transparent;
    display: inline-block;
    border: none;
    color: white;
    border-radius: 2px;
}

.nav-btn:hover {
    background-color: #59a7f0;
}

#barrabusqueda {
    background-color: white;
    margin: 9% 150px 50px 0;
    width: 100%;
    height: 45px;
}

.barra {
    width: 950px;
    height: 40px;
    border-radius: 25px;
    margin-left: 100px;
}

.acceso {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}

#saldocuenta {
    margin: 0 5% 50px 5%;
    padding: 2% 0 2% 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cuentaid {
    padding: 5px 0 0 5%;
    color: grey;
}

.cuentaestado {
    padding: 1% 0 0 40%;
}

.cuentaestado b {
    color: white;
    background-color: gray;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
}

#cuenta {
    margin: 0 5% 4% 5%;
}

footer {
    margin: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 10px;
    background-color: #f4ebeb;
}

.buttons {
    background-color: #e5e5e5;
    padding: 20px;
}

.card-header {
    font-weight: 600;
}

.card-footer {
    font-size: smaller;
}

.card-text {
    margin: 0;
    padding: 0;
}

footer {
    background-size: cover;
    background-color: #2c78ce;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

.contacto,
.acerca,
.sucursales,
.preguntas {
    background-color: #2c78ce98;
    width: 15%;
    font-size: 16px;
    left: 17.5%;
    display: flex;
    flex-direction: row;
}

.contacto__p,
.sucursales__p,
.preguntas__p,
.acerca__p {
    font-weight: bold;
    font-size: 1.17em;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.material-symbols-outlined {
    position: relative;
    right: 8px;
    top: 22px;
}

.bordes {
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 90px;
}

.contacto__p2,
.sucursales__p2,
.preguntas__p2,
.acerca__p2 {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.contacto__p2 {
    margin-left: 15px;
}

.sucursales__p2 {
    position: relative;
    right: 20px;
}

.preguntas__p2 {
    position: relative;
    right: 30px;
}

.acerca__p2 {
    position: relative;
    right: 60px;
}
