body {
    font-family: 'Lato', sans-serif;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 0px;
    background-color: #288BE5;
    color: white;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.logo {
    text-align: center;
    user-select: none;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 20px;
}

.nav-btn {
    padding: 10px;
    background-color: transparent;
    display: inline-block;
    border: none;
    color: white;
    border-radius: 2px;
}

.nav-btn:hover {
    background-color: #59a7f0;
}

#barrabusqueda{
    background-color: white;
    margin: 9% 150px 50px 0;
    width: 100%;
    height: 45px;
}

.barra{
    width: 950px;
    height: 40px;
    border-radius: 25px;
    margin-left:100px;
   
}

.acceso{
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}

#saldocuenta {
    margin: 0 5% 50px 5%;
    padding: 2% 0 2% 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cuentaid {
    padding: 5px 0 0 5%;
    color: grey;
}

.cuentaestado {
    padding: 1% 0 0 40%;

}

.cuentaestado b {
    color: white;
    background-color: gray;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
}

#cuenta {
    margin: 0 5% 4% 5%;
}

footer {
    margin: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 10px;
    background-color: #F4EBEB;
}

.buttons{
    background-color: #E5E5E5;
    padding: 20px;
}

.card-header{
    font-weight: 600;
}

.card-footer{
    font-size: smaller;
}

.card-text{
    margin: 0;
    padding: 0;
}
