body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #288BE5;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
}

.footer {
    background-color: #F4EBEB;
}

.titulo {
    margin-left: 50%;
}

.enlaces {
    margin-left: 5%;
}